<form role="form">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group ">
                <label for="profilePicture">Profile picture :</label>
                <img src="images/profile-img.gif" id="profilePicture" class="img-thumbnail "/>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="profileName">Name :</label>
                <input type="text" class="form-control" id="profileName" placeholder="Name">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="profileEmail">Email :</label>
                <input type="email" class="form-control" id="profileEmail" placeholder="Email address">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="profilePhone">Phone :</label>
                <input type="tel" class="form-control" id="profilePhone" placeholder="Phone number">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="profilePosition">Position :</label>
                <input type="text" class="form-control" id="profilePosition" placeholder="Owner">
            </div>
        </div>


    </div>

    <div class="row">

        <div class="col-sm-9">
            <div class="form-group">
                <label for="profileAddress">Address :</label>
                <input type="text" class="form-control" id="profileAddress" placeholder="Enter your Address">
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="profileState">State :</label>
                <input type="text" class="form-control" id="profileState" placeholder="State">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="profileCity">City :</label>
                <input type="text" class="form-control" id="profileCity" placeholder="City">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="profileZip">Zip :</label>
                <input type="zip" class="form-control" id="profileZip" placeholder="Zip code">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <button type="submit"  class="btn btn-primary btn-lg btn-block black-button" id="profileUpdate" >Update Personal Information</button>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>Change Password :</h3>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="oldPassword">Old password :</label>
                <input type="password" class="form-control" id="oldPassword" placeholder="Old Password">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="newPassword">New password :</label>
                <input type="password" class="form-control" id="newPassword" placeholder="New Password">
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <label></label>
                <button type="button"  class="btn btn-primary btn-block black-button" id="changePassword" >Update</button>
            </div>
        </div>
    </div>
</form>