<div class="glass-container container" style="margin-top:20px">

	<div class = "container">
				<div id="slider">
					<figure>
					<img src="images/img/outside.jpg" alt>
					<img src="images/img/inside.jpg" alt>
					<img src="images/img/food.jpg" alt>
					<img src="images/img/food2.jpg" alt>
					<img src="images/img/food3.jpg" alt>
					</figure>
				</div>
	</div>
    <div class="container ">
        <div class="col-sm-11 brktxt">
            <p>Welcome to Great India Cafe
                Since 1989, Combining regional, home-style Indian cuisine with the spontaneous and deep flavors of Indian street food, Great India Cafe has been flourishing ever since an early Studio City Times article exposed this little gem to a curry-craving public. Now Studio City can't get enough of this lighter take on traditional Indian-restaurant cuisine that owner Kamal Jit Singh brings to this quaint but homey little Westside bistro. From tandoori-grilled entrées, vindaloos and curries to lamb or chicken "frankies" (Indian-style burritos), specialties are an ideal mix of California taste and authentic Indian flavor. Wash it all down with a specialty cocktail or a choice from the fine selection of imported beers.
            </p>
            <p>Are you in the mood for authentic Indian cuisine? If so look no further than the Great India Cafe in Studio City.</p>

            <p>Our menu is full of delectable Indian dishes that are sure to please any appetite. Come in and enjoy a quality Indian meal with family and friends, or use our new convenient online delivery service that allows you to get delicious Indian cuisine such as Aloo Gobi and Lamb Saag delivered right to your home. We even have a special kids menu! With over a hundred items on our menu, we are sure to have something for everyone here at Great Indian Cafe.</p>

            <p>Now Great India Cafe available for online orders at Studio City</p>
        </div>
    </div>
    
    <div class = "clearfix"></div>
</div>
